body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.tarjeta {
    perspective: 1000px;
}

.tarjeta-contenido {
    width: 300px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;

}

.tarjeta:hover .tarjeta-contenido {
    transform: rotateY(180deg);
}

.tarjeta-frontal, .tarjeta-trasera {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tarjeta-frontal {
    background-color: #1866ab;
    color: white;
    
}

h2 {
    opacity: 0.7;
}

.tarjeta-frontal img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.tarjeta-trasera {
    background-color: #0b2545;
    transform: rotateY(180deg);
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
}
